{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'oauthapp/css/style_index.css' %}">

</head>
<body>
    <div class="headContainer">
        <div class="info"><a href="/"><span>OAuth2 Project</span></a></div>
        <div class="profile">
            <a class='profile' href="{% url 'profile' %}">Profile</a>
        </div>
        <div class="accountContainerInfo">
            <a class='login' href="{% url 'logout' %}">Log out</a>
        </div>
    </div>

    <div class="bodyContainer">
        <div class="profileContainer">
            {{ user.first_name }}
            {{ user.last_name }}
            {{ user.email }}
        </div>
    </div>
</body>
</html>